.nav {
  grid-area: n;
  background-color: #26547c;
  padding: 20px;
  border-radius: 15px;
  border-color:#DFF6FF ;
  border-style: solid;
  box-shadow: 5px 2px 2px #256d85 ;
}

.item {
  color: white;
  text-decoration: none;

}

.active {
  color: #ffd166; ;
  text-decoration: none;
}