.nav {
  grid-area: n;
  background-color: #26547c;
  padding: 20px;
  border-radius: 15px;
  border-color:white ;
  border-style: solid;
  background-image: linear-gradient(to bottom right,#72B2E4 ,#92E1E2 );
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;

}

.item {
  color: white;
  text-decoration: none;

}

.active {
  color: #034679 ;
  text-decoration: none;
}