.userPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.button{
    color: #26547c;
    background-image: linear-gradient(to bottom right,#72B2E4 ,#92E1E2 );
    border-radius: 5px;
    border-color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}
.selectedPage {
    font-weight: bold;
}