.header {

    grid-area: h;
    background-color: #26547c;
    color: white;
    vertical-align: middle;
    border-radius: 15px;
    border-color: #DFF6FF;
    border-style: solid;
    box-shadow: 5px 2px 2px #256d85;
    font-style: oblique;
    font-weight: bold;




}

.header img {
    width: 50px;
    vertical-align: middle;
}