.postsBlock {
    padding: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.posts {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.button {
    background-color: #26547c;
color: #26547c;
}


