.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.dialogsItems {
    padding: 10px;

}
.dialogsItems .active{
    color: rgb(1, 119, 197);
}

.messages {
    padding: 10px;
}

.message {}